/* importação de icones */
@import '../import.css';

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../../images/mulher-feliz-com-o-laptop-apontando-para-espaço-de-cópia-sobre-fundo-amarelo-belo-protesto-negra-no-colo-sentado-chão-panorama-174438374.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    margin: 80px 0px;
}

.home .content{
    max-width: 50rem;
}

   
 img { 
    height: auto; 
}

.container-services{
    display: flex;
    justify-content: center;
}

.service{ 
    padding: 20px 120px; 
}

.service-item-title{
    margin-bottom: 0;
    margin-top: 0px;
    color: #000000;
    font-weight: 300;
    line-height: 25px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10.7rem;
}

.links{
    text-decoration: none;
    color: black;
}

.service-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.service-item-icon { 
    width: 45px;
 }

.service-item-icon img { 
    margin-inline: auto; 
}

.service-item-text{
    font-size: 10.5px;
  }

#product1{
    text-align: center;
  }
  
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #00000069;
    box-shadow: 20px 20px 30px rgba( 0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }
  
  
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba( 0, 0, 0, 0.06);
  }
  
  #product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }
  
  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  
  #product1 .pro .des span{
    color: #606063;
  }
  
  #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
  }    
  
  #product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  
  #product1 .pro .des h4{
    padding-top: 7px;
    color: #000000;
    font-weight: 700;
  }  
  
  #product1 .pro .fa-shopping-bag{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #000000;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }  

  #product1 .pro .fa-heart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #000000;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #000000;
    position: absolute;
    bottom: 20px;
    right: 60px;
    transition: 0.2s ease;
  }  
    
  #product1 .pro .fa-heart:hover{
    color: #C83C3C;

  }

  .section-p1{
    padding: 40px 120px;
  }
  .titulo{
    text-align: initial;
  }


  .banner-container{
    padding: 40px 120px;
  }
  
  
  .banner-container{
    display: flex;
    gap: 10px;
  }
  
  .banner-container .banner{
    flex: 1 1 34rem;
    height: 24rem;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    position: relative;
  }
  
  .banner-container .banner .content{
    position: absolute;
    top: 50%; 
    left: 4%;
    transform: translateY(-50%);
  }
  
  .banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    padding-left: 171px;
  }
  
  .banner-container .banner .content span{
    color:#666;
    display: flex;
  }
  
  .banner-container .banner .content h3{
    color:#333;
    display: flex;
    align-items: center;
  }
  
  .banner-container .banner:hover img{
    transform: scale(1.2);
    transition: 0.3s ease;
  }

  
  .btn{
    width: 96px;
    height: 36px;
    align-items: center;
    display: flex;
    margin-top: 10px;
    padding: 10px 25px;
    background: #C83C3C;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover{
    background:#fff;
    color: #000000;
    text-decoration: none;
    border: 1px solid #C83C3C;
    transition: 0.3s ease;
  }
  
  .title {
    color: #000000;
    margin-left: 15rem;
    margin-bottom: -3px;
    text-align: initial;
  }
  
  
  .ad-container{
    display: flex;
    margin-top: 10px;
}

.ad-container .ad{
    background:linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    margin: 120px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.ad-container .ad .monitor{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.ad-container .ad .monitor img{
    width:80%;
}

.ad-container .ad .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.ad-container .ad .content span{
    color:#eee;
}

.ad-container .ad .content h3{
    color:#fff;
    font-size: 40px;
}

.ad-container .ad .content p{
    color:#eee;
    padding:10px 0;
}

.ad-container .ad .content .btn-ad{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.ad-container .ad .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.ad-container .ad .women img{
    width:100%;
}

.categories-container{
    padding: 40px 120px;
}

.categories-container .heading{
    padding-bottom: 15px;
    color:#000000;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.categories-container .categorie-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.categories-container .categorie-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 1px solid;
    text-align: center;
    padding: 50px 20px;
}

.categories-container .categorie-container .box img{
    height: 100px;
    margin-bottom: 15px;
}

.categories-container .categorie-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.effects{
    background:#fff;
    color: #000000;
    text-decoration: none;
}

.effects:hover{
    background:#C83C3C;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #C83C3C;
    transition: 0.3s ease;
}


