@import '../import.css';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cinza-claro);
}

.content {
    background-color: var(--branco);
    width: 1000px;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: var(--vermelho);
    width: 40%;
    height: 100%;
    left: 0;
}

.title {
    font-weight: bold;
}

.title-primary {
    color: var(--branco);
}

.title-second {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.description-primary {
    color: var(--branco);
}

.btn {
    text-transform: uppercase;
    color: var(--branco);
    padding: 10px 9px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--branco);
    transition: background-color .5s;
    padding: 1rem;
}

.btn-primary:hover {
    background-color: var(--branco);
    color: var(--vermelho);
}

.btn-second {
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    transition: background-color .5s;
    margin-bottom: 5px;
}

.btn-second:hover {
    background-color: var(--branco);
    border: 1px solid var(--vermelho);
    color: var(--vermelho);
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-top: 10px;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-media1 {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media1 {
    background-color: var(--cor-twitter);
    color: var(--branco);
    border-color: var(--cor-twitter);
}

.link-social-media .item-social-media2 {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media2 {
    background-color: var(--cor-google);
    color: var(--branco);
    border-color: var(--cor-google);
}


.link-social-media .item-social-media3 {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media3 {
    background-color: var(--cor-linkedin);
    color: var(--branco);
    border-color: var(--cor-linkedin);
}


.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media1 {
    border: 1px solid var(--preto);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--preto);
}

.item-social-media2 {
    border: 1px solid var(--preto);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--preto);
}

.item-social-media3 {
    border: 1px solid var(--preto);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--preto);
}


.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1rem;
}

.form input {
    height: 45px;
    width: 100%;
    padding: 0px 30px;
    border: 1px solid;
    background-color: #ffffff;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    width: 100%;
}

.checks-conditions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .2rem;
    color: var(--preto);
}

.checks-conditions span, .checks-conditions a{
    color: var(--preto);
    font-size: 12px;
}

.checks-conditions .condicoes input{
    color: var(--preto);
    height: 1rem;
    width: 1.5rem;
}

.condicoes{
    display: flex;
}

.forgotten-password a{
    text-decoration: underline;
}

.forgotten-password a:hover {
    color: var(--vermelho);
    transition: ease .3s;
}

/* Ícone email */
.fa-envelope{
    position: absolute;
    margin-left: 10px;
}

/* Ícone Cadeado */
.fa-lock {
    position: absolute;
    margin-left: 10px;
}

/* Ícones olho */
.fa-eye{
    position: absolute;
    margin-left: calc(30% - 10px);
}

#pSeparator{
    margin-top: .5rem;
    margin-bottom: .5rem;
}