@import '../import.css';

.content-product {
    box-shadow: 0 0 15px 0 #999;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid;
    outline: none;
}

.select-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid;
    outline: none;
}

.textarea-field {
    width: 100%;
    height: 100px;
    resize: none;
}

.box-buttons {
    display: flex;
    gap: 1rem;
}

.box-buttons button,
.box-buttons input {
    padding: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    background: #caccd2;
}

#inputImgMultiple {
    border: 1px solid;
    padding: 1rem;
}

#btnRemoveFile {
    padding: .5rem;
    background-color: #fff;
    border: 1px solid var(--vermelho);
    border-radius: 10px;
    color: var(--vermelho);
}

#btnRemoveFile:hover {
    transition: ease .4s all;
    background-color: var(--vermelho);
    color: #fff;
}

.container-more-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-more-info .box-inputs {
    display: flex;
    gap: 1rem;
}

#boxPadrao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#boxPadrao .box-row {
    display: flex;
    gap: .8rem;
    width: 100%;
}

#boxPadrao .box-row label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 49.8%;
}

#boxPadrao #inputGarantia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options label {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

label textarea {
    width: 100%;
}

#labelTextarea {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.container-error {
    display: flex;
    padding: 1rem;
    gap: .5rem;
    background-color: #f75e5e;
    color: #FFFF;
    width: 60vw;
    margin-bottom: 1rem;
}

.box-img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .box-img img {
    width: 200px;
}

.row-img {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.row-img #deleteImg {
    background-color: transparent;
    border: 1px solid #000;
}

.row-img #deleteImg:hover {
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    transition: ease .4s all;
}

.row-img #deleteImg:hover i {
    color: var(--branco);
    transition: ease .4s all;
}

.row-img #deleteImg i {
    color: var(--vermelho);
    padding: 1rem;
    cursor: pointer;
}

@media (min-width: 1300px) {

    .content-product,
    .container-error {
        width: 40vw;
    }
}