@import '../import.css';

/* Titulos */

.container-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 60vw;
}

.container-users .container-filters {
    align-self: flex-start;
}

#btnNewProduto {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#btnNewProduto .icon-container {
    background-color: var(--vermelho);
    padding: 1rem;
    cursor: pointer;
    color: var(--branco);
}

.box-chart{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.textViewLog{
    padding: 2rem;
    background-color: var(--cinza-fundo);
    color: #00e904;
    border-radius: 10px;
    width: 60vw;
}

#logBtn{
    padding: 1rem;
    color: var(--branco);
    background-color: var(--vermelho);
    border: none;
}